@charset 'utf-8';
/* ---------- title ----------------- */
	h2.title{
		font-size: 6.5vw;
		font-weight: 900;
		opacity: .5;
		letter-spacing: -2px;
		line-height: .9;
		margin-bottom: 50px;
		position: relative;
		z-index: 2;
		white-space: pre;
	}
	h2.title span{
		opacity: 0;
	}
	h2.title.animated span{
		display: inline-block;
		-webkit-animation: cutTextLeft .2s forwards;
		-o-animation: cutTextLeft .2s forwards;
		animation: cutTextLeft .2s forwards;
	}
/* ---------- #contact ----------------- */
	#contact{
		min-height: calc(100vh - 190px);
		padding: 150px 0;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#contact .container{background-color: rgba(255,255,255,.5); }
	#contact .container,
	#contact .container .col50{
		position: relative;
		overflow: hidden;
	}
	#contact .container .col50{
		padding:20px 30px;
		padding-bottom: 500px;
		margin-bottom: -500px;
	}
	#contact .container .blur_box{
		font-size: 14px;
		position: relative;
	}
	#contact .form_container{
		max-width: 380px;
		margin:50px auto 80px;
	}
	#contact h4{margin-bottom: 15px; }
	#contact h4 + p{margin-bottom: 30px; }
/* ---------- form ----------------- */
	#contact label{
		display: block;
		padding:5px 0;
		position: relative;
		color:#666;
	}
	#contact label p{
		position: absolute;
		top: 0;
		left: 0;
		padding:8px 10px;
		margin:5px;
		line-height: 26px;
	}
	#contact label p:after{
		content:'';
		display: block;
		width: 1px;
		height: 40%;
		background-color: #666;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		margin:auto 0;
	}
	#contact input[type="text"],
	#contact input[type="email"]{
		width: 100%;
		border:none;
		background-color: rgba(43, 43, 43, .1);
		padding:8px 8px 8px 80px;
		font-size: 18px;
	}
	#contact label.active{
		color:#005335;
	}
	#contact label.active input[type="text"],
	#contact label.active input[type="email"]{
		background-color: rgba(0, 83, 53, .1);
	}
	#contact button,
	#contact input[type="submit"]{
		display: block;
		width: 100%;
		padding:6px;
		margin: 30px 0;
		background-color: rgba(255,255,255,.4);
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	#contact button .svg,
	#contact input[type="submit"] .svg{
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		margin-left: -20px;
		margin-right: 20px;
	}
	#contact button .svg path,
	#contact input[type="submit"] .svg path{fill:#005335; }
	#contact button:hover,
	#contact input[type="submit"]:hover{
		color:#ffffff;
		background-color: rgba(0, 83, 53, .4);
		-webkit-transform: translateY(-2px);
		   -moz-transform: translateY(-2px);
		    -ms-transform: translateY(-2px);
		     -o-transform: translateY(-2px);
		        transform: translateY(-2px);
	}

	#contact button:hover .svg path,
	#contact input[type="submit"]:hover .svg path{fill:#ffffff; }
	#contact button:active,
	#contact input[type="submit"]:active{
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
		    -ms-transform: translateY(0);
		     -o-transform: translateY(0);
		        transform: translateY(0);
	}
/* ---------- #map ----------------- */
	#map{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	#map .gm-style .gmnoprint,
	#map .gm-style .gmnoprint img,
	#map .gm-style > div:first-child > div:first-child > div:nth-child(4) > div:nth-child(2) img{
		width: 60px !important;
		height: 60px !important;
	}
	.map_info{
		margin:20px 30px;
		padding:20px;
		background-color: rgba(255,255,255,.8);
		position: relative;
		z-index: 2;
	}
	.map_info li{
		max-width: 390px;
		padding:5px 0;
		margin: 0 auto;
	}
	.map_info img{
		width: 40px;
		height: 40px;
		margin-right: 20px;
	}
	.map_info img,
	.map_info p{
		float: left;
		padding:5px;
	}
	.map_info p{max-width: calc(100% - 60px); }
/* ----------RWD------------ */
	@media screen and (max-width: 1440px){
		#contact{padding:100px 0 70px; }
		#contact .form_container{margin:30px auto 50px; }
	}
	@media screen and (max-width: 1024px){
		#contact .form_container{margin:0 auto;}
		.map_info{margin:0;}
		.map_info img{margin-right: 10px;}
		.map_info p{font-size: 14px;}
	}
	@media screen and (max-width: 768px){
		h2.title{
			font-size: 11vw;
			margin-bottom: 20px;
		}
		.map_info{margin-bottom:150px;}
		#contact .container .col50{
			width: 100%;
			padding-bottom: 20px;
			margin-bottom: 0;
		}
		#contact .form_container{margin-top: 30px;}
	}
	@media screen and (max-width: 620px){
		h2.title{font-size: 15vw; }
		.map_info img{margin-right: 0;}
		#contact .container .col50{padding:20px 10px;}
		#contact .container .blur_box{padding:20px;}
		#contact .form_container{margin-top: 0;}
	}